/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


/* Basic */

body {
	background-color: #ebeae9;
}

html {
	font-family: 'Open Sans', sans-serif;
}

.btn {
	border-radius: 0;
}

a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

a:link .white,
a:hover .white,
a:visited .white {
	text-decoration: none;
	color: #fff;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	line-height: 110%;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 700;
}

.min-100 {
	min-height: 100%;
}


/* Spacing */

.no-gutter {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}


/* Navbar */

.navigation {
	padding-top: 1rem;
}

.navigation.container-fluid {
	position: absolute;
}

.navbar {
	width: 100%;
	z-index: 99;
	top: 15px;
	padding: 0;
}

.navbar-brand {
	padding-left: 0px;
}

.navbar-brand:link,
.navbar-brand:hover,
.navbar-brand:visited {
	text-decoration: none;
	color: white;
}

.container a {
	display: inline-block;
	position: relative;
	text-align: center;
	color: #000;
	text-decoration: none;
	font-size: 20px;
	overflow: hidden;
	top: 5px;
}

.container a:after {
	content: '';
	position: absolute;
	background: #000;
	height: 2px;
	width: 0%;
	transform: translateX(-50%);
	left: 50%;
	bottom: 0;
	transition: .35s ease;
}

.container a:hover:after,
.container a:focus:after,
.container a:active:after {
	width: 100%;
}

.overlay-menu ul {
	list-style: none;
	margin: 0 auto;
	display: flex;
	height: 100%;
}

.overlay-menu ul li {
	padding-left: 20px;
}


/* Headers */
/* 
.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/photo-1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	position: relative;
	width: 100%;
	line-height: 100%;
	color: #fff;
	font-size: 1.5rem;
}

.masthead-2 {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/photo-9.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	position: relative;
	width: 100%;
	line-height: 100%;
	color: #fff;
	font-size: 1.5rem;
}

.masthead-3 {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/photo-7.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	position: relative;
	width: 100%;
	line-height: 100%;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
}

.masthead-4 {
	min-height: 500px;
	top: 0;
	position: relative;
	width: 100%;
	line-height: 100%;
}

.split-image-left {
	background-image: url("../img/photo-4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.split-image-right {
	background-image: url("../img/photo-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
} */


/* Portfolio */

.portfolio-text {
	padding-top: 8rem;
	text-align: center;
}

.bg-black {
	background-color: #000!important;
}

.card {
	border: 0;
	border-radius: 0;
}

.card-img,
.card-img-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card-body {
	padding: 0;
}

.card-columns .card {
	margin-bottom: 1.25rem;
}

@media (max-width: 991px) {
	.card-columns {
		column-count: 1;
	}
}

@media (min-width: 992px) {
	.card-columns {
		column-count: 2;
	}
}

@media (min-width: 1200px) {
	.card-columns {
		column-count: 3;
	}
}

.card-hover img {
	transition: filter .5s ease-in-out;
	-webkit-filter: grayscale(0%);
	/* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(0%);
	/* FF 35+ */
}

.card-hover:hover img {
	-webkit-filter: grayscale(100%);
	/* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(100%);
	/* FF 35+ */
}

.reveal p {
	line-height: 125%;
	font-size: 1.5rem;
	text-align: center;
}

.card-hover .reveal {
	visibility: hidden;
	opacity: 0;
	height: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: black;
	color: white;
}

.card-hover:hover .reveal {
	height: auto;
	visibility: visible;
	opacity: 0.5;
	transition: opacity 1s ease;
	position: absolute;
	top: 0;
	background-color: black;
	color: white;
}

@media (max-width: 767px) {
	.card-hover .reveal,
	.card-hover:hover .reveal {
		visibility: visible;
		opacity: 1;
		position: relative;
		width: 100%;
		background-color: #ebeae9;
		color: black;
	}
	.reveal p {
		line-height: 125%;
		font-size: 1.2rem;
		text-align: left;
		padding-top: 1rem;
	}
}


/* Story */

/* .story {
	font-size: 1.2em;
} */


/* Products */

/* .products {
	font-size: 1.2em;
	line-height: 125%;
	padding-top: 5rem;
}

.products-2 {
	padding-top: 10rem;
	padding-bottom: 6rem;
	font-size: 1.5em;
	line-height: 125%;
} */


/* Additional */

/* .additional img {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}

.additional .col-xl-4 {
	padding-right: 0px;
	padding-left: 0px;
	max-width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.container.additional {
	min-width: 100%;
} */


/* Expositions */
/* 
.expositions {
	font-size: 1.2em;
	padding-top: 5rem;
	padding-bottom: 5rem;
} */


/* Spots */
/* 
.spot {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/photo-12.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	position: relative;
	width: 100%;
	font-size: 2em;
	color: #fff;
}

.spot-2 {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/photo-2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	position: relative;
	width: 100%;
	font-size: 2em;
	color: #fff;
}

.spot-3 {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/photo-8.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	position: relative;
	width: 100%;
	font-size: 2em;
	color: #fff;
}

.spot-4 {
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/photo-1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	top: 0;
	position: relative;
	width: 100%;
	font-size: 2em;
	color: #fff;
} */


/* Stories */

/* .stories {
	font-size: 1.2em;
	text-align: center;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.stories-2-title {
	font-size: 2.5rem;
	font-family: 'Reenie Beanie', cursive;
}

.stories-2 {
	font-size: 1.5em;
	background-color: #000;
	color: #fff;
	padding-top: 15rem;
	padding-bottom: 10rem;
} */


/* Events */

/* .events {
	font-size: 1.2em;
	background-color: #000;
	color: #fff;
}

.events h2 {
	font-size: 1.2em;
	text-transform: uppercase;
} */


/* Contact */

/* .contact {
	font-size: 1.5em;
	background-color: #000;
	color: #fff;
	padding-top: 15rem;
	padding-bottom: 10rem;
} */


/* Contact Form */

/* .contact-form {
	font-size: 1.2em;
	background-color: #000;
	color: #fff;
	padding-bottom: 11rem;
}

.contact-form .btn-primary {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.contact-form .form-control {
	color: #fff;
	background-color: transparent;
	border: 2px solid;
	border-radius: 0;
}

.form-control::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.6;
}

.form-control {
	padding: 1.5rem .75rem;
}

.contact-form .btn {
	padding: 0.8rem 4rem;
} */


/* Footer */
/* 
.footer {
	font-size: 1.2em;
	color: #000;
	padding-top: 7rem;
	padding-bottom: 7rem;
}

@media (max-width: 767px) {
	.footer {
		font-size: 1.4em;
		line-height: 180%;
	}
}

.footer a:link,
.footer a:hover,
.footer a:visited {
	text-decoration: none;
	color: #000;
} */


/* Details */

.portfolio-details {
	padding-top: 6rem;
}

.img-container {
    height: 80vh;
    max-width: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 80px;
}

.img-container img {
	width: 100%;
    height: 100%;
    object-fit: contain;
}

.details {
	margin: 20px 80px;
    display: flex;
    justify-content: space-evenly;
}

.details p {
	font-size: 1.2rem;
}

/* Rating */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
