/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');


/* Basic */

body {
	background-color: #ebeae9;
}

html {
	font-family: 'Open Sans', sans-serif;
}

.btn {
	border-radius: 0;
}

a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

a:link .white,
a:hover .white,
a:visited .white {
	text-decoration: none;
	color: #fff;
}

.bold {
	font-weight: bold;
}

h1 {
	font-size: 3.5rem;
}

h2 {
	line-height: 110%;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 700;
}

.min-100 {
	min-height: 100%;
}


/* Spacing */

.no-gutter {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}


/* Navbar */

.navigation {
	padding-top: 1rem;
}

.navigation.container-fluid {
	position: absolute;
}

.navbar {
	width: 100%;
	z-index: 99;
	top: 15px;
	padding: 0;
}

.navbar-brand {
	padding-left: 0px;
}

.navbar-brand:link,
.navbar-brand:hover,
.navbar-brand:visited {
	text-decoration: none;
	color: white;
}

.container a {
	display: inline-block;
	position: relative;
	text-align: center;
	color: #000;
	text-decoration: none;
	font-size: 20px;
	overflow: hidden;
	top: 5px;
}

.container a:after {
	content: '';
	position: absolute;
	background: #000;
	height: 2px;
	width: 0%;
	transform: translateX(-50%);
	left: 50%;
	bottom: 0;
	transition: .35s ease;
}

.container a:hover:after,
.container a:focus:after,
.container a:active:after {
	width: 100%;
}

.overlay-menu ul {
	list-style: none;
	margin: 0 auto;
	display: flex;
	height: 100%;
}

.overlay-menu ul li {
	padding-left: 20px;
}

/* Portfolio */

.portfolio-text {
	padding-top: 8rem;
	text-align: center;
}

.bg-black {
	background-color: #000 !important;
}

.card {
	border: 0;
	border-radius: 0;
}

.card-img,
.card-img-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card-body {
	padding: 0;
}

.card-columns .card {
	margin-bottom: 1.25rem;
}

@media (max-width: 991px) {
	.card-columns {
		column-count: 1;
	}
}

@media (min-width: 992px) {
	.card-columns {
		column-count: 2;
	}
}

@media (min-width: 1200px) {
	.card-columns {
		column-count: 3;
	}
}

.card-hover img {
	transition: filter .5s ease-in-out;
	-webkit-filter: grayscale(0%);
	/* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(0%);
	/* FF 35+ */
}

.card-hover:hover img {
	-webkit-filter: grayscale(100%);
	/* Ch 23+, Saf 6.0+, BB 10.0+ */
	filter: grayscale(100%);
	/* FF 35+ */
}

.reveal p {
	line-height: 125%;
	font-size: 1.5rem;
	text-align: center;
}

.card-hover .reveal {
	visibility: hidden;
	opacity: 0;
	height: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: black;
	color: white;
}

.card-hover:hover .reveal {
	height: auto;
	visibility: visible;
	opacity: 0.5;
	transition: opacity 1s ease;
	position: absolute;
	top: 0;
	background-color: black;
	color: white;
}

@media (max-width: 767px) {

	.card-hover .reveal,
	.card-hover:hover .reveal {
		visibility: visible;
		opacity: 1;
		position: relative;
		width: 100%;
		background-color: #ebeae9;
		color: black;
	}

	.reveal p {
		line-height: 125%;
		font-size: 1.2rem;
		text-align: left;
		padding-top: 1rem;
	}
}

/* Details */

.portfolio-details {
	padding-top: 6rem;
}

.img-container {
	height: 80vh;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 80px;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.details {
	margin: 20px 80px;
	display: flex;
	justify-content: space-evenly;
}

.details p {
	font-size: 1.2rem;
}

.details-buttons {
	text-align: center;
	margin-right: 10px;
}

.details-buttons>.button {
	margin-right: 20px;
}

/* Comments */
.feedback {
	display: flex;
	justify-content: space-around;
	margin: 30px 80px;
}

.textarea-comments {
	width: 100%;
	border: 1px solid;
}

/* Buttons */
.button {
	border-radius: 8px;
	padding: 4px 16px;
	border: 2px solid;
}

.button:hover {
	color: white;
	border: 2px solid black;

}

.yellow {
	padding: 6px 22px;
}

.green:hover {
	background-color: lightgreen;

}

.yellow:hover {
	background-color: #FFC107;

}

.red:hover {
	background-color: orangered;

}

/* Rating */

.rate {
	float: left;
	height: 46px;
	padding: 0 10px;
}

.rate:not(:checked)>input {
	position: absolute;
	top: -9999px;
}

.rate:not(:checked)>label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #ccc;
	margin-right: 14px;
}

.rate:not(:checked)>label:before {
	content: '★ ';
}

.rate>input:checked~label {
	color: black;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
	color: black;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
	color: black;
}